/****************************************************************************

rxgconst.res

Delphi VCL Extensions (RX)
Copyright (c) 1997 Master-Bank

Translated to Spanish by Jose Manuel Rodriguez (E-Mail: qkysoft@arrakis.es)

*****************************************************************************/

#include "rxgconst.pas"

#ifdef win32
LANGUAGE LANG_SPANISH,1
#endif

STRINGTABLE 
{
 SGIFImage, "Imagen GIF de CompuServe"
 SChangeGIFSize, "No se puede cambiar de tamaño a una imagen GIF"
 SNoGIFData, "No hay datos que escribir en el GIF"
 SUnrecognizedGIFExt, "Bloque de extensión no reconocido: %.2x"
 SWrongGIFColors, "Número de colores incorrecto. Ha de ser una potencia de 2"
 SBadGIFCodeSize, "El tamaño de ódigo del GIF no está comprendido entre 2 y 9"
 SGIFDecodeError, "Los datos codificados del GIF están corruptos"
 SGIFEncodeError, "Error de codificación de la imagen GIF"
 SGIFVersion, "Versión GIF desconocida"
}
